 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>CONTROL PAGE</title>
     <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      h1 {
          color: #333;
          margin-top: 20px;
      }

      form {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          width: 80%;
          max-width: 500px;
      }

      input[type="text"], input[type="radio"] {
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
      }

      button[type="submit"] {
          background-color: #007bff;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
      }

      button[type="submit"]:hover {
          background-color: #0056b3;
      }

      a {
          text-decoration: none;
          color: #007bff;
          margin-top: 50px;
      }

      a:hover {
          text-decoration: underline;
      }
  </style>

 </head>
 <body>
  
  <h1>UPDATE TASK STATUS</h1>

    <!-- status change here. by default status notDone -->
     <form action="/toggle-status/<%= task._id %>" method="POST">
         <p>Task: <%= task.name %></p>
         <p>Description: <%= task.description %></p>
         <p>Status: <%= task.isDone ? 'Done' : 'Not Done' %></p>
         <input type="radio" name="status" value="done" <%= task.isDone ? 'checked' : '' %>> Done
         <input type="radio" name="status" value="not-done" <%= !task.isDone ? 'checked' : '' %>> Not Done
         <button type="submit">Update Status</button>
     </form>
     <a href="/">Back to Home</a>
 </body>
 </html>
 